/* Breadcrumb */
.breadcrumb {
    margin-top: 8px;
    margin-bottom: 20px;
    font-size: 14px;
    color: #555;
  }
  
  .breadcrumb a {
    color: #007bff;
    text-decoration: none;
  }
  
  /* Product Section */
  .product-section {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  
  .image-container {
    flex: 1;
  }
  
  .product-image {
    width: 100%;
    border-radius: 10px;
  }
  
  .info-container {
    flex: 1;
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .price {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .description {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
  }
  
  .button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  