/* Header styles */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    /* Màu nền đen mặc định */
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

/* Header trong suốt trên Hero Section */
.hero-header .header {
    background-color: transparent;
    box-shadow: none;
}

/* Khi cuộn, header trở lại màu đen */
.hero-header.scrolled .header {
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.logo {
    margin-left: 20px;
    font-size: 1.5rem;
    font-weight: bold;
}

.user-icon {
    margin-right: 20px;
    cursor: pointer;
}

.user-icon i {
    font-size: 1.8rem;
}

/* search */
.header-center {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
}

.search-input {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 300px;
    margin-right: 8px;
}

.search-btn {
    padding: 8px 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.search-btn:hover {
    background-color: #0056b3;
}