/* Header */
.MuiAppBar-root {
  background-color: #1976d2; /* Màu xanh đậm */
}

.MuiTypography-root {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.MuiButton-root {
  font-family: 'Roboto', sans-serif;
}

/* Tooltip Style */
.MuiTooltip-tooltip {
  background-color: #1976d2;
  color: #fff;
  font-size: 12px;
}

/* Main content */
.main-content {
  margin-left: 250px; /* Để không bị che Sidebar */
  transition: margin-left 0.3s ease;
}

.main-content .MuiTypography-root {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.chart-container {
  padding: 20px;
  margin-top: 20px;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.chart-container .MuiTypography-root {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

/* Cards in the Dashboard */
.MuiCard-root {
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.MuiCardContent-root {
  padding: 20px;
}

.MuiTypography-root {
  font-size: 20px;
  font-weight: 600;
}

.MuiTypography-colorTextSecondary {
  font-size: 18px;
  color: #555;
  font-weight: 500;
}

/* Grid and Spacing */
.MuiGrid-container {
  margin-top: 20px;
}

.MuiGrid-item {
  margin-bottom: 20px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .main-content {
    margin-left: 0;
  }

  .sidebar {
    width: 200px;
  }
}


/* General layout */
.main-layout {
  display: flex;
  height: 100vh;
}

/* Main content area */
.main-content {
  flex-grow: 1;
  padding: 20px;
  transition: margin-left 0.3s ease;
}

/* Sidebar styles */
.sidebar {
  width: 250px;
  background-color: #f4f4f4;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 50px;
  transition: width 0.3s ease;
}

.sidebar.collapsed {
  width: 60px;
}

/* When sidebar is collapsed, the main content will shift */
.sidebar.collapsed + .main-content {
  margin-left: 60px; /* Shift content right when sidebar is collapsed */
}

.sidebar + .main-content {
  margin-left: 250px; /* Shift content left when sidebar is expanded */
}

/* Khi item được chọn */
.active {
  background-color: #000 !important; /* Màu nền đen khi được chọn */
  color: white !important; /* Màu chữ trắng khi được chọn */
}

.active:hover {
  background-color: #333 !important; /* Màu nền đen khi hover trên item đã chọn */
}
