.role-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .role-main {
    display: flex;
    height: calc(100vh - 64px); /* Trừ đi chiều cao của Header */
    margin-top: 50px;
  }
  
  .role-content {
    flex: 1;
    padding: 24px;
    overflow-y: auto;
    background-color: #f4f4f4;
  }
